GitPython==3.1.43
Pygments==2.18.0
cohere==5.9.2
fastapi==0.112.2
gradio>=4.26.0
langchain==0.3.0
langchain-anthropic==0.2.0
langchain-cohere==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-experimental==0.3.0
langchain-ollama==0.2.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
marqo==3.7.0
nbformat==5.10.4
openai==1.42.0
pinecone==5.0.1
python-dotenv==1.0.1
requests==2.32.3
semchunk==2.2.0
sentence-transformers==3.1.0
tiktoken==0.7.0
tokenizers==0.19.1
transformers==4.44.2
tree-sitter==0.22.3
tree-sitter-language-pack==0.2.0